/* ============================================
   IDE PAGE - STYLES
   ============================================ */

/*main webpage content container*/
.whole-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 4.1rem;
}

/* Main Section */
.main {
    text-align: left;
    margin: 6rem 20rem 4rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.main h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.main p {
    border-top: 1px solid;
    font-size: 1.2rem;
    line-height: 1.8;
    padding-top: 15px;
}

.ide-tools {
    text-align: center;
    padding: 4rem 5%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: 2rem 20rem;
}

.ide-tools h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.ide-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: left;
}

.ide-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.ide-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ide-item p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.ide-item ul {
    list-style: none;
    padding: 0;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.ide-item ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.ide-item ul li i {
    color: #ffffff;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.ide-item ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.ide-item ul li a:hover {
    color: #0f6bae;
    background: linear-gradient(90deg, #2980b9, #012b3a, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(0, 0, 0);
    text-shadow: 0 0 12px rgba(48, 159, 233, 0.8), 0 0 25px rgba(109, 213, 250, 1);
}





























/* Footer styles now in global.css */
